In [1]:
import pandas as pd

In [2]:
path = r"https://drive.google.com/uc?export=download&id=10ax_XSRDO6tEAWIqvcaFf6Ltll4bhXRA"
data = pd.read_csv(path)

In [3]:
pd.set_option('display.max_columns',9)
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [5]:
df = data.drop(columns=['area_type','availability','location','size','society','total_sqft'])
df

       bath  balcony   price
0       2.0      1.0   39.07
1       5.0      3.0  120.00
2       2.0      3.0   62.00
3       3.0      1.0   95.00
4       2.0      1.0   51.00
...     ...      ...     ...
13315   4.0      0.0  231.00
13316   5.0      NaN  400.00
13317   2.0      1.0   60.00
13318   4.0      1.0  488.00
13319   1.0      1.0   17.00

[13320 rows x 3 columns]

In [6]:
df2 = df.fillna(df.mean())
df2

       bath   balcony   price
0       2.0  1.000000   39.07
1       5.0  3.000000  120.00
2       2.0  3.000000   62.00
3       3.0  1.000000   95.00
4       2.0  1.000000   51.00
...     ...       ...     ...
13315   4.0  0.000000  231.00
13316   5.0  1.584376  400.00
13317   2.0  1.000000   60.00
13318   4.0  1.000000  488.00
13319   1.0  1.000000   17.00

[13320 rows x 3 columns]

In [7]:
X=df2.drop('price',axis=1)
y = df2['price']
print("SHAPE OF X =",X.shape)
print("SHAPE OF y =",y.shape)

SHAPE OF X = (13320, 2)
SHAPE OF y = (13320,)

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=51)
print("SHAPE OF X_train =",X_train.shape)
print("SHAPE OF y_train =",y_train.shape)
print("SHAPE OF X_test =",X_test.shape)
print("SHAPE OF y_test =",y_test.shape)

SHAPE OF X_train = (10656, 2)
SHAPE OF y_train = (10656,)
SHAPE OF X_test = (2664, 2)
SHAPE OF y_test = (2664,)

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(X_train)
X_train = sc.transform(X_train)
X_test = sc.transform(X_test)

In [10]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

lr.fit(X_train,y_train)

LinearRegression()

In [22]:
lr.coef_

array([65.76278937,  4.10009491])

In [24]:
lr.intercept_

112.52539085960962

In [40]:
lr.score(X_test,y_test)

0.22428613083024374

In [28]:
X_test[0, : ]

array([-1.26503911, -0.72855992])

In [32]:
lr.predict([X_test[0, : ]])

array([26.34572542])

In [34]:
lr.predict(X_test)

array([ 26.34572542, 129.85442053, 129.85442053, ...,  85.79248341,
        75.53593617,  75.53593617])

In [36]:
y_test

11791     35.00
3415     131.00
11516    200.00
3147      80.91
3057     200.00
          ...
12782    137.00
4014      49.00
12879     53.00
10771     34.65
10784     39.77
Name: price, Length: 2664, dtype: float64

In [42]:
#implementing Ridge and Lasso Regerssion Algorithm
from sklearn.linear_model import Ridge, Lasso

In [44]:
rd = Ridge()

rd.fit(X_train,y_train)

rd.score(X_test,y_test)

0.22428248398844763

In [46]:
ld = Lasso()

ld.fit(X_train,y_train)

ld.score(X_test,y_test)

0.22397837341831572